{% embed 'partials/base.html.twig' with { github_link_position: false } %}

    {% block content %}
        <div id="body-inner">
            <h1>{{ page.title }}</h1>
            
            {# Display tutorial metadata #}
            {% if page.header.author or page.header.type or page.header.skill %}
            <div class="tutorial-metadata">
                {% if page.header.author %}
                <p><strong>Author:</strong> {{ page.header.author }}</p>
                {% endif %}
                
                {% if page.header.type %}
                <p><strong>Type:</strong> 
                {% if page.header.type is iterable and page.header.type is not string %}
                    {{ page.header.type|join(', ') }}
                {% else %}
                    {{ page.header.type }}
                {% endif %}
                </p>
                {% endif %}
                
                {% if page.header.skill %}
                <p><strong>Skill Level:</strong> {{ page.header.skill }}</p>
                {% endif %}
            </div>
            {% endif %}
            
            {{ page.content|raw }}
        </div>
    {% endblock %}

    {% block footer %}{% endblock %}

{% endembed %}
