<nav class="ren-nav" role="navigation">
    <ul>
        <li><a href="{{ base_url_relative }}">Home</a></li>
        <li><a href="{{ page.find('/') ? page.find('/').url : base_url_relative ~ '/' }}">Getting Started</a></li>
        <li><a href="{{ base_url_relative }}/tutorials">Tutorials</a></li>
        <li><a href="{{ base_url_relative }}/downloads">Downloads</a></li>
        <li><a href="{{ base_url_relative }}/renegade-models">Renegade Models</a></li>
    </ul>
</nav>
