<nav class="ren-nav" role="navigation">
    <a href="{{ base_url_relative }}">Home</a>
    <a href="{{ page.find('/') ? page.find('/').url : base_url_relative ~ '/' }}">Getting Started</a>
    <a href="{{ base_url_relative }}/tutorials">Tutorials</a>
    <a href="{{ base_url_relative }}/downloads">Downloads</a>
    <a href="{{ base_url_relative }}/renegade-models">Renegade Models</a>
</nav>
