
<div class="ren-section">
    <a href="{{ module.url }}" style="text-decoration: none;">
        <div class="ren-section-title">
            {% if module.header.icon %}
                <img class="section-icon"
                     src="{{ module.url(true) ~ '/' ~ module.header.icon }}"
                     alt="{{ module.title }}">
            {% endif %}
            <div class="ren-section-subtitle">
                <h2>{{ module.title }}</h2>
                {% if module.summary %}
                    <div style="font-size:12px; color:#586978;">{{ module.summary | striptags }}</div>
                {% endif %}
            </div>

        </div>
    </a>

    {% if module.children.count > 0 %}
        {% set rows = module.children.visible %}
    {% else %}
        {% set rows = site.find('tutorials') ? site.find('tutorials').children.visible : [] %}
    {% endif %}

    {% from 'macros/tutorials_table.twig' import tutorials_table %}
    {{ tutorials_table(rows) }}
</div>

